/* Background layout */
.fee-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  font-family: 'Segoe UI', sans-serif;
}

/* Login Card */
.login-card {
  background: white;
  padding: 40px;
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
  color: #003366;
}

.login-card p {
  color: #555;
  margin-bottom: 25px;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: #003366;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #00509e;
}

.error-text {
  color: red;
  margin-bottom: 10px;
}


